

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Usuario solicitado</title>
</head>
<body>
    <h1>Usuario: </h1>
    <ul>
        <li>ID: {{ usuario.idUsuario }}</li>
        <li>Nombre: {{ usuario.nombre }}</li>
        <li>Apellido paterno: {{ usuario.apPat }}</li>
        <li>Apellido materno: {{ usuario.apMat }}</li>
        <li>Email: {{ usuario.email }}</li>
        <li>Contraseña: {{ usuario.password }}</li>
        <li>Super usuario: {{ usuario.superUser }}</li>
    </ul>
    
</body>
</html>