<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agregar pelicula</title>
</head>
<body>
    <h1>Crear un pelicula</h1>
    <form method="post">
    <label for="nombre">Ingrese el nombre:</label>
    <input type="text" name="nombre" id="nombre"/>
    <br>
    <label for="genero">Ingrese el genero:</label>
    <input type="text" name="genero" id="genero"/>
    <br>
    <label for="duracion">Ingrese la duracion:</label>
    <input type="text" name="duracion" id="duracion"/>
    <br>
    <label for="inventario">Ingrese el inventario:</label>
    <input type="text" name="inventario" id="inventario"/>
    <br>
    
    <input type="submit" value="Agregar pelicula"/>

    </form>
    {% if get_flashed_messages() %}
        {% for message in get_flashed_messages() %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>