<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
    <h1>Menu Peliculas</h1>
    <ul>
        <li><a href="/peliculas">Ver todos los peliculas</a></li>
        <li><a href="/peliculas/id">Ver pelicula por id</a></li>
        <li><a href="/peliculas/agregar">Agregar pelicula</a></li>
        <li><a href="/peliculas/editar">Editar pelicula</a></li>
        <li><a href="/peliculas/eliminar">Eliminar pelicula</a></li>
    </ul>
</body>
</html>